img{
    width: 400px;
}

img:hover{
    opacity: .5;
    /* 0 to 1 */
}

.d1{
    width: 700px;
    height: 400px;
    background: url(zimg.jpeg) no-repeat center;
    overflow: hidden;
}

p{
    font-size: 30px;
    background-color: white;
    padding: 10px;
    margin-top: 100px;
}

.d2 p{
    text-align: center;
    background-color: white;
    padding: 10px;
    margin-top: 100px;
    opacity: .5;
}