body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:  flex-end;
    padding: 20px;
}

section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li{
    list-style: none;
    margin-left: 20px;
}

section header ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

section header ul li button{
    background: rgb(43, 66, 197);
    border: none;
    outline: none;
    padding: 7px 14px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
}

section .main{
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


section .main .searchbox{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

section .main .searchbox .search{
    width: 100%;
    padding: 13px;
    padding-left: 45px;
    padding-right: 60px;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

section .main .searchbox .icon{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    padding: 12px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

section .main .buttons{
    margin-top: 20px;
}


section .main .buttons button{
    margin: 0px 5px;
    padding: 6px 20px;
    color: gray;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 2px solid transparent;
    outline: none;
}

section .main .buttons button:hover{
    border: 2px solid #ccc;
}


section .main .lang{
    margin-top: 18px;
}

section .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(165, 140, 140);
}


section .footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(4, 16, 85);
}

section .footer .row ul{
    display: flex;
}

section .footer .row ul li{
    list-style: none;
}

section .footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    margin-right: 25px;
}

section .footer .row ul li a:hover{
    color: blue;
}

/* desktop view */
@media(min-width: 1024){
    section header ul li button{
        background-color: blue;
    }
}

/* tablet view  */
@media(min-width:769px) and (max-width:1023){
    section header ul li button{
        background-color: rgb(241, 101, 8);
    }
}

/* responsive type screen for mobile view*/

@media (max-width:768px){
    section .main .searchbox .search{
        width: 88%;
    }

    section .footer .row ul{
        display: block;
    }
}