.mahmud{
    width: 500px;
    height: 500px;
    background-color: blue;
    border: 5px solid yellow;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 60px;
    margin-bottom: 80px;
    /*margin: 50px 50px 60px 50px;*/
}