h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
p{
    font-weight: 700;
    font-style: italic;
    font-size: 3vw;
}
.p1{
    font-family: 'Sedgwick Ave Display', cursive;
}

body{
    
}